
body {

}

.map {
    border: solid;
    border-width: 1px;
    width: 1202px;
    height: 410px;
}

.cell {

    border-top: solid;
    border-right: solid;
    border-width: 1px;
    float: left;
    height: 24px;
    width: 24px;
}

.user_cell {
    background: red;
    border-top: solid;
    border-right: solid;
    border-width: 1px;
    float: left;
    height: 24px;
    width: 24px;
}